*.pyc
*.xml
*.iml
*.csv
*.xlsx
*.Rhistory
.idea/
.coverage
.ipynb_checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/
*/bin/
*/include/
*/lib/
*/lib64/
*/share/
.mypy_cache/
.pytest_cache
data/
dist/

# Custom:
.dev/
.vscode/
log.txt
run_exp_CUSTOM.sh
results/plots/*.pdf
